<form *ngFor="let product of product" action="" method="get" class="m-5 border p-3 rounded">
    <div>
        <h1 class="text-center">Editar Producto</h1>

        <div class="col">
            <label class="mb-1" for="validationDefault01"><strong>Nombre Producto</strong></label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="Nombre" required
                [(ngModel)]="product.name" name="nombre">
        </div>
        <div class="row">
            <div class="col mt-4">
                <label class="mb-1" for="validationDefault02"><strong>Descripción</strong></label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Descripción" required
                    [(ngModel)]="product.descripcion" name="descripcion">
            </div>

            <div class="col mt-4">
                <label for="validationDefault03"><strong>Precio</strong></label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="10.00" required
                    [(ngModel)]="product.precio" name="precio">
            </div>

        </div>


        <div class="row">
            <div class="col mt-4">
                <label class="mb-1" for="validationDefault04"><strong>Stock</strong></label>
                <input type="text" class="form-control" id="validationDefault04" placeholder="5" required
                    [(ngModel)]="product.stock" name="stock">
            </div>

            <div class="col mt-5 ml-6">
                <mat-form-field class="mb-1">
                    <input matInput [matDatepicker]="picker1" placeholder="Seleccionar fecha"
                        [(ngModel)]="product.creationDate" name="selectedDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>

        </div>
        <div class="row">


            <div class="col mt-2">
                <label class="mb-1" for="categoria"><strong>Categoría</strong></label>
                <select class="form-select" id="categoria" required [(ngModel)]="product.Category.categoryId" name="categoria">
                    <option *ngFor="let category of categories" [ngValue]="category.categoryId">{{ category.categoryName }}</option>
                </select>
            </div>
            
            <div class="col mt-2 mb-10">
                <label class="mb-1" for="proveedor"><strong>Proveedor</strong></label>
                <select class="form-select" id="proveedor" required [(ngModel)]="product.Supplier.supplierId" name="proveedor">
                    <option *ngFor="let supplier of suppliers" [ngValue]="supplier.supplierId">{{ supplier.supplierName }}</option>
                </select>
            </div>

        </div>

        <div class="text-center m-5">

            <button style="margin-right: 20px; padding: 7px 7px; min-width: 100px;" class="btn btn-primary"
                type="submit" (click)="updateProduct()">Guardar</button>


            <button style="padding: 7px 7px; min-width: 100px;" class="btn btn-primary"
                routerLink="/dashboard/productos">Regresar</button>

        </div>
    </div>
</form>