<form (submit)="saveProduct($event)" action="" method="get" class="m-5 border p-3 rounded">
    <div>
        <h1 class="text-center">Registrar Producto</h1>

        <div class="col">
            <label for="validationDefault01">Nombre Producto</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="Nombre" required
                 name="name">
        </div>
        <div class="row">
            <div class="col mt-2">
                <label for="validationDefault02">Descripción</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Descripción" required
                     name="descripcion">
            </div>

            <div class="col mt-2">
                <label for="validationDefault03">Precio</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="10.00" required
                    name="precio">
            </div>

        </div>


        <div class="row">
            <div class="col mt-2">
                <label for="validationDefault04">Stock</label>
                <input type="text" class="form-control" id="validationDefault04" placeholder="5" required
                    name="stock">
            </div>

            <div class="col mt-4 ">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" name="creationDate" required
                        [value]="getSystemDate()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker touchUi="true"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div>
            <label for="validationDefault01">Categoria</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="Categoria" required
                name="categoryName">
        </div>


        <div>
            <label for="validationDefault07">Proveedor</label>
            <input type="text" class="form-control" id="validationDefault07" placeholder="Proveedor" required
                name="supplierName">
        </div>

        <div class="text-center ">

            <button style="margin-right: 20px; padding: 7px 7px; min-width: 100px;" class="btn btn-primary mr-2 mt-4"
                type="submit" >Registrar</button>
            <button style="padding: 7px 7px; min-width: 100px;" class="btn btn-primary mt-4"
                routerLink="/dashboard/productos">Regresar</button>

        </div>