<h2 mat-dialog-title>Editar proveedor</h2>
<mat-dialog-content>


    <form class="m-5 border p-3 rounded">
        <div>
            <h1 class="text-center">Editar Proveedor</h1>
    
            <div class="col">
                <label for="validationDefault01">Nombre Proveedor</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Nombre" required name="name">
            </div>
            <div class="row">
                <div class="col mt-2">
                    <label for="validationDefault02">Estado</label>
                    <input type="text" class="form-control" id="validationDefault02" placeholder="Estado" required
                        name="descripcion">
                </div>
    
            </div>

        </div>
    </form>
    

</mat-dialog-content>

<mat-dialog-actions>

<mat-divider></mat-divider>
<section>
  <div class="example-button-row">

    <button mat-raised-button color="warn" mat-dialog-close> Cerrar </button>
    <button mat-raised-button color="primary"> Guardar </button>
    <button mat-raised-button disabled> Guardar </button>
  </div>
</section>
<mat-divider></mat-divider>
</mat-dialog-actions>