#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/img/login-portada.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

#card-container {
  height: 450px;
  width: 350px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(245, 247, 255, 0.8);
}

#content-container mat-card-content {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%; 
  margin-bottom: 2px;
}

input {
  width: 100%;
}

.mat-h1 {
  font-size: 27px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Verdana, sans-serif; 
  color: #000000; 
  text-shadow: 2px 2px 4px rgba(240, 94, 186, 0.3); 
}

.mat-span {
  font-size: 27px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Verdana, sans-serif; 
  color: hwb(334 31% 15%); 
  text-shadow: 2px 2px 4px rgba(254, 217, 217, 0.3); 
}