<div style="margin-left: 32px; margin-right: 32px; margin-top: 15px;" class="d-flex justify-content-between align-items-center">
  <mat-card-title  class="fs-5">Modulo de personas</mat-card-title>
  <button (click)="dialogAddPersona()" class="btn btn-primary">Agregar</button>
</div>


<div style="margin: 2rem;">

  <mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    
    <input matInput (keyup)="applyFilter($event)" [(ngModel)]="value" placeholder="Ex. pepe" #input>
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
      <mat-icon>close</mat-icon>
    </button>

  </mat-form-field>

  
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8">

    <!-- Definir las columnas -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by id"> ID </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{ person.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by name"> Persona </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{ person.nombre }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="apellido">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by apellido"> Apellido </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{ person.apellido }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email"> Email </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{ person.email }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by userName"> Usuario </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{ person.userName }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="departmentId">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by departamento"> Dept. </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{ person.departmentId }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="roleId">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by role"> Rol </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{ person.roleId }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by role"> Estado </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{ person.estado }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>

      <mat-cell *matCellDef="let person">
        <!-- Botones de acción -->
        <div style="margin: 2px; display: flex; gap: 5px;"> 
          <button class="btn btn-info" style="font-size: 4px; padding: 1px 1px;" (click)="dialogEditarPersona(person.id)" >
            <mat-icon>edit</mat-icon>
          </button>
      
          <button class="btn btn-danger" style="font-size: 4px; padding: 1px 1px;" (click)=" confirmDeletePersona(person.id)">
            <mat-icon>delete</mat-icon>
        </button>
        </div>
      </mat-cell>

    </ng-container>

    <!-- Asignar las columnas a las filas -->
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
  </mat-table>

  <!-- Agregar paginación -->
  <mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
</div>


