.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 

.mat-h1 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Verdana, sans-serif; 
  color: #080808; 
  text-shadow: 2px 2px 4px rgba(240, 94, 186, 0.3); 
}

.mat-span {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Verdana, sans-serif; 
  color: hwb(0 100% 0%); 
  text-shadow: 2px 2px 4px rgba(254, 217, 217, 0.3); 
}