<div class="m-4 d-flex justify-content-between align-items-center">
  <mat-card-title class="ml-4">Lista de productos</mat-card-title>
  <button routerLink="/dashboard/addproduct" class="btn btn-primary">Agregar</button>
</div>


<div style="margin: 2rem;">
  <mat-table [dataSource]="dataSource">
    <!-- Definir las columnas -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.id }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.name }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.descripcion }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="precio">
      <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.precio | currency:'S/ ':'symbol':'1.2-2' }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cantidad">
      <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.stock }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef> Fecha creación </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.creationDate | date: 'dd/MM/yy' }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="categoria">
      <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.categoryName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="proveedor">
      <mat-header-cell *matHeaderCellDef> Proveedor </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.supplierName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>

      <mat-cell *matCellDef="let product">
        <!-- Botones de acción -->
        <div style="margin: 2px; display: flex; gap: 5px;"> 
          <button class="btn btn-info" style="font-size: 12px; padding: 4px 8px;" (click)="editarProducto(product.id)">
            <mat-icon>edit</mat-icon>
          </button>
      
          <button class="btn btn-danger" style="font-size: 12px; padding: 4px 8px;" (click)="eliminarProducto(product.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-cell>

    </ng-container>

    <!-- Asignar las columnas a las filas -->
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
  </mat-table>

  <!-- Agregar paginación -->
  <mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
</div>