<div class="d-flex overflow-y-scroll w-100 h-100 text-light bg-light bg-gradient">

    <!-- Contenedor del side menu -->
    <div class="d-flex flex-column position-relative" style="flex: 0 0 auto; width: 250px;">
      <app-side-menu></app-side-menu>
    </div>
  
    <!-- Contenedor del contenido principal -->
    <div class="d-flex flex-column w-100">
  
      <!-- Mat-toolbar -->
      <mat-toolbar class="mb-3 bg-dark text-white h-10">Panel de Administración</mat-toolbar>
  
      <!-- Contenedor del router-outlet -->
      <div class="text-dark px-2 mt-2 flex-grow-1">
        <router-outlet></router-outlet>
      </div>
  
    </div>
  
  </div>